mat-toolbar {
  box-shadow: 0 1px 7px #262626;
  position: fixed;
  top: 0;
  overflow: hidden;
  z-index: 99;
}

button {
  margin: 5px;
}

button:hover {
  background-color: #2d3b70;
}

.active {
  background-color: #2e4180;
}
