<mat-card *ngIf="post" class="post">
  <app-post-header
    [user]="post.leagueAdmin"
    [title]="post.name"
    [titleLink]="link"
    [subtitle]="post.gameType"
    [date]="post.timestamp">
  </app-post-header>

  <mat-card-content>
    <p>{{ post.description }}</p>
    <img class="league-image link"
         routerLink="{{ link }}"
         src="{{ post.imageSource }}"
         alt="#{{ post.name }}League Post's Image">

    <mat-divider class="divider"></mat-divider>

    <app-league-icons
      [numberOfComments]="post.numberOfComments"
      [numberOfPlayers]="post.numberOfPlayers"
      [numberOfRounds]="post.numberOfRounds">
    </app-league-icons>
  </mat-card-content>
</mat-card>
