<div class="user" *ngIf="user" id="user-{{ user.id }}">
  <mat-card class="user-card">
    <mat-card-header></mat-card-header>
  </mat-card>
  <mat-card class="user-card">
    <mat-card-title-group>
      <mat-card-title>{{ user.username }}</mat-card-title>
      <img mat-card-xl-image src="{{ user.imageSource }}" alt="#{{user.id}} User's image ">
    </mat-card-title-group>
    <mat-card-content>
      <p>First name: {{ user.firstName }}</p>
      <p>Last name: {{ user.lastName }}</p>
      <p>Email: {{ user.email }} </p>
    </mat-card-content>
  </mat-card>
</div>
