<div class="league-post-container">
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <mat-card *ngIf="post" class="post">

    <app-post-header
      [user]="post.leagueAdmin"
      [title]="post.name"
      [subtitle]="post.gameType"
      [date]="post.timestamp">
    </app-post-header>

    <mat-card-content>
      <img src="{{ post.imageSource }}" alt="league image">

      <div class="league-details">
        <h2>Rounds: </h2>
        <p>Started: <span>{{ post.numberOfRounds }}</span></p>
        <p>Finished: <span>{{ post.numberOfFinishedRounds }}</span></p>
        <p>In progress: <span>{{ post.numberOfInProgressRounds }}</span></p>
      </div>

      <h2>Players:</h2>
      <div class="players">
        <mat-card class="player shadow"
                  *ngFor="let player of post.leaguePlayers"
                  [ngClass]="post.leagueAdmin.id == player.id ? 'admin-player' : 'casual-player'"
                  routerLink="/profile/{{ player.id }}">
          <mat-card-header>
            <mat-card-title class="">{{ player.username }}#{{ player.id }}</mat-card-title>
            <mat-card-subtitle>{{ post.leagueAdmin.id == player.id ? "Admin" : "Player" }}</mat-card-subtitle>
            <!--          <mat-card-subtitle>{{ player.firstName |titlecase }} {{ player.lastName | titlecase }}</mat-card-subtitle>-->
            <img mat-card-avatar src="{{ player.imageSource }}" alt="{{ player.username }}'s profile page">
          </mat-card-header>
        </mat-card>
      </div>

      <div class="comments" *ngIf="hasComment()">
        <app-comment-icon [numberOfComments]="post.comments!.length"></app-comment-icon>
        <app-comment *ngFor="let comment of post.comments!" [comment]="comment"></app-comment>
      </div>
      <div *ngIf="!hasComment()">
        <h3>No comments yet</h3>
      </div>
    </mat-card-content>

  </mat-card>
</div>
