.home {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.menu {
  max-width: var(--menu-width);
  width: var(--menu-width);
  padding: 100px 50px;
}

div.post-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  gap: var(--post-gap);
  max-width: var(--post-width);
  margin: 100px;
}
