.user-post-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
}

.user-post {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
}

button {
  margin: 10px;
}
