<h1 mat-dialog-title align="center">Registration</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Firstname</mat-label>
    <textarea matInput [(ngModel)]="data.firstName"></textarea>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Lastname</mat-label>
    <textarea matInput [(ngModel)]="data.lastName"></textarea>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Username</mat-label>
    <textarea matInput [(ngModel)]="data.username"></textarea>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <textarea matInput [(ngModel)]="data.email"></textarea>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Email Again</mat-label>
    <textarea matInput [(ngModel)]="emailForMach"></textarea>
    <mat-hint *ngIf="data.email.length > 0 && emailForMach.length > 0 &&
            data.email != emailForMach">Provided emails are different</mat-hint>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Enter your password</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="data.password">
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Password Again</mat-label>
    <textarea class="password-input" matInput [(ngModel)]="passwordForMach"></textarea>
    <mat-hint *ngIf="data.password.length > 0 && passwordForMach.length >0 &&
            data.password != passwordForMach">Provided password are different</mat-hint>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-stroked-button [mat-dialog-close]="data" >Register</button>
  <button mat-stroked-button (click)="closeDialogPanel()">Close</button>
</div>
